body{
    background-color: rgb(43, 47, 56);
    margin: 0;
    position: relative;
}

header{
    border: solid 5px rgb(21, 24, 31);
    background-color:rgb(21, 24, 31);
    position:relative;
    width: 100%;
    height: 20%;
}
header img{
    height:100% ;
    position: relative;
    left: 7px;
}
#menu{
    left: 93%;
    top: -45px;
    padding: 5px;
    width: 50px;
    height: 50px;

}
#pesquisa{
    position: relative;
    background-image: url("../img/lupa.png");
    background-repeat: no-repeat;
    background-position: right;
    left: 65%;
    top: -70px;
    padding-right: 35px;
    background-color: rgb(43, 47, 56);
    border: none;
    border-radius: 10px;
    padding: 5px;
}

    /* From uiverse.io by @Vikikos */
h1{
    margin: 20;
    text-decoration: underline
}
p{
    margin: 20;
    font-size: 18px;
}
       
.card {
    width: 290px;
    height: 454px;
    background: #fff;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    position: relative;
    margin: 18px;
    margin-left: 33px;
    }
.card div img{
    width: 290px;
    height: 454px;
    border-radius: 30px;
}
.container{
    color: #fff;
    display: flex;
   
}
.container div p{
    text-align: justify;
}
.info p{
font-size: 18px;
color: rgb(255, 255, 255)
}

footer{ 
    border: solid 5px rgb(21, 24, 31);
    background-color:rgb(21, 24, 31);
}
#direitos{
    position: relative;
    left: 7px;
    color: rgb(100, 100, 100);
    text-align: center;
    text-decoration: underline;
    font-family: inherit;
    font-size: 16px;
}